{% extends "registration/base.html" %}

{% block head_title %}{{ block.super }}Request New Activation Key{% endblock %}

{% block h1 %}{{ block.super }}Request New Activation Key{% endblock %}

{% block content %}

<form method=POST action="">
	<table summary="Form for requesting a new key.">
		{% for field in form %}
			<tr><th class="form"><label for="id_{{ field.name }}">{{ field.label }} {% if field.field.required  %}<img src="{{ MEDIA_URL }}images/required.png" alt="required"/>{% endif %}</label></th><td>{{ field }}</td></tr>
		{% endfor %}
	</table>
	<input type="submit" value="Request new key" />
</form>


{% endblock %}

