{% extends "project/bulk.html" %}

{% block head_title %}{{ block.super }}: Bulk {% ifequal task "add" %}add users.{% else %}remove users.{% endifequal %}{% endblock %}

{% block h1 %}{{ block.super }}: Bulk {% ifequal task "add" %}add users.{% else %}remove users.{% endifequal %}{% endblock %}

{% block h2 %}{% ifequal task "add" %}Add users to {% else %}Remove users from {% endifequal %}{{ project.name }}{% endblock %}

{% block tablesummary %}{% ifequal task "add" %}Adding to{% else %}Removing from{% endifequal %} {{ project.name }}{% endblock %}
{% block submitvalue %}{% ifequal task "add" %}Add users to {% else %}Remove users from {% endifequal %}{{ project.name }}{% endblock %}


