{% extends "base.html" %}


{% block head_title %}{{ block.super }}{% block task_head %}{% endblock %} groups{% endblock %}


{% block h1 %}{{ block.super }}{% block task_h1 %}{% endblock %} groups{% endblock %}

{% block content %}

<form method=POST action="">
	<table summary="Form for {% block form_intent %}{% endblock %} collaboration groups">
		{% for field in form %}
			<tr><th class="form"><label for="id_{{ field.name }}">{{ field.label }} {% if field.field.required  %}<img src="{{ MEDIA_URL }}images/required.png" alt="required"/>{% endif %}</label></th><td>{{ field }}</td></tr>
			{% if field.field.help_text %}
				<tr><th></th><td>{{ field.field.help_text }}</td></tr>
			{% endif %}
		{% endfor %}
	</table>
	<input type="submit" value="{% block form_value %}{% endblock %} groups" />
</form>



{% endblock %}