<div class="markup">
<h3>Markup Reference</h3>

<p>When editing any text area, you can use convenient markup to display lists, style formatting, etc. The notation is given below:</p>

<ul>
	<li>Header: hn. (where n is from 1-6)</li>
	<li>Ordered list: #</li>
	<li>Unordered list: *</li>
	
	<li>Emphasis:<em>_emphasized text_</em></li>
	<li>Bold: <strong>*Bold text*</strong></li>
	
	
	<li>To insert a link:<br>
	"University of Illinois":http://www.illinois.edu</li>
	
	<li>
	To insert an image:<br>
	!imageurl!
	</li>
</ul>

<p><a href="http://www.textism.com/tools/textile/" rel="external" target="_blank">Full Markup Reference</a>

</div>